<ul class = "nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'My Habits', habits_path %></li>

  

  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>