<h1>WELCOME TO FixMe</h1>
<p>Welcome, <%= current_user.email %>!</p>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<h2>My Calendar</h2>

<h2>My Habits</h2>
<ul>
  <% @habits.each do |habit| %>
    <li><%= link_to habit.name, habit_path(habit) %></li>
  <% end %>
</ul>

<h2>My Reminders</h2>
<ul>
  <% @reminders.each do |reminder| %>
    <li><%= link_to reminder.title, habit_reminder_path(reminder.habit, reminder) %></li>
  <% end %>
</ul>

