<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>FixMe</h1>

<div class="container">
  <p class="welcome-message">Welcome to FixMe: Your personalized habit tracker for a happier life, empowering you to take control of your routines and achieve your goals with ease. Explore the Habits page to seamlessly track your daily activities. Set reminders to stay on top of your habits, view your progress on the Calendar, and keep a detailed log of your journey. FixMe is here to empower you every step of the way.</p>
  
</div>

</body>
</html>




