<h1>Interactive Calendar</h1>

<div id="calendar"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        { title: 'Habit 1', start: '2023-05-12' }
      ]
    });
    calendar.render();
  });
</script>

<%= link_to 'View Calendar', calendars_path %>

